{% extends "components/base.html" %} {% block title %}Add New Post{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}

    <div class="row">
        <!--Left panel-->
        
        {% include "dashboard/components/side_nav.html" %}

        <!--Right panel-->
        <div class="col-md-9">
            <span>User: <strong>{{ user }}</strong></span>

            <h5 class='mt-3'>Add New Post</h5>

            <form action="{% url 'add_posts' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning mb-2">Save</button>
            </form>
        </div>
    </div>

{% endblock %} 